@media (max-width: 1300px) {
    .footer_container {
      border-radius: 250px 0 0 0;
    }
  }
  
  @media (max-width: 1120px) {}
  
  @media (max-width: 992px) {
    .hero_area {
      height: auto;
    }
  
    .user_option-box{
      justify-content: center;
    }
    .user_option-box a {
      margin: 0 7px;
  }
    .custom_nav-container .navbar-nav {
      margin: 0;
      margin-left: auto;
      align-items: center;
    }
  
    .custom_nav-container .navbar-nav {
      padding-top: 15px;
    }